h1 {
  text-align: right;
  margin-right: 350px;
  color: #f3a718;
}

ul {
  margin-left: 10px;
}

#mainBody {
  display: flex;
}

#mainImage {
  border: solid black 1px;
}

#rightBar {
  margin-top: 250px;
  margin-right: 5px;
  align-content: center;
}

#animatingPot {
  margin-left: 40px;
}

.hide {
  visibility: hidden;
}
